* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

body {

    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    background-color: #1f2937;
    min-height: ;
   
}

.header {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    padding: 20px;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    gap: 20px;
    
}

li{
    color: white;
    text-decoration: none;
}

li:hover {
    color: gray;
}
